@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

colors {
    color: hsl(0, 100%, 74%);
    color: hsl(154, 59%, 51%);
    color: hsl(248, 32%, 49%);
    color: hsl(249, 10%, 26%);
    color: hsl(246, 25%, 77%);
}

.container {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    width: 100%;
    height: 100vh;
    padding: 4rem;
    display: flex;
    border: 1px solid red;
}

.desc {
    width: 50rem;
    margin: 0 3rem;
    padding-right: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #ffffff;
}

.desc h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 1rem;
}

.desc p {
    font-size: .9rem;
    font-weight: 500;
}

.form-field {
    border: 1px solid red;
    width: 50rem;
}